body
{
    overflow-y: auto;
}

#p1 
{
    margin-bottom: -2%;
}

.tools-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(47vh, 1fr));
    gap: 2em;
}

.tool-card {
    background-color: rgb(18, 19, 19);
    border: 0.1rem solid rgb(52, 48, 48);
    height: relative;
    border-radius: 8px;
    text-align: center;
    font-size: 2rem;
    transition: transform 0.2s;
}

.tool-card:hover {
    transform: scale(1.05); /* kis animáció hoverre */
}

.menu-container
{
    margin-bottom: 5%;
    width: fit-content;
    height: fit-content;
}

.toolForm
{
    font-size: 0.8em;
    background: transparent;
    place-content: center;
    text-align: center;
    color: #ffff;
}

#btn-back
{
    border-radius: 0.5rem;
    background-color: #06c08b;
    box-shadow: 0 0.1rem 0.9rem 0 rgb(30, 255, 0);
    transition: background 0.3s ease, box-shadow 0.2s ease;
    font-size: clamp(0.5rem, 2vw, 1.5rem);
    padding: 0.6rem 1.2rem;
    font-variant: small-caps;
}

#btn-back:hover
{
    background: rgba(98, 255, 0, 0.791);
    box-shadow: 0 0.25rem 0.6rem rgba(0, 227, 57, 0.23);
}