body
{
    font-family: monospace;
    background-color: #000;
    color: #00ff04;
}

#p1
{
    font-size: 2vw;
    color: #fff;
    text-align: center;
    margin-top: 2%;
}


.container
{
    width: 200px;
    margin: 0 auto;
    background: rgb(18, 19, 19);
    border: 0.1rem solid rgb(52, 48, 48);
    width: 45%;
    height: 55vh;
}

ul {

    list-style: none;
    padding-left: 0;
    margin-left: 1vh;
    font-size: 1vw;
}

ul li::before 
{
  content: ">> ";
}