body {
    background-color: #242323;
    font-family: "Inter", sans-serif;
}

@media only screen and (min-width: 700px) {
    .nav-bar-desktop {
        display: block;
    }

    .nav-bar-mobile {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .nav-bar-desktop {
        display: none;
    }

    .nav-bar-mobile {
        display: block;
    }
}

.hover-transformation {
    transition: transform 0.3s ease;
}

.hover-transformation:hover {
    transform: scale(1.27);
}

.nav-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.right, .menu-boxes {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.right {
    position: fixed;
    right: 1rem;
}

.ellipse, .burger-menu {
    width: 3.2rem;
    height: 3.2rem;
    background-color: #f6eeeb;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ellipse-img {
    width: 2.6rem;
    height: 2.6rem;
    padding-top: 0.23rem;
}

.box {
    width: 7.7rem;
    height: 3.2rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box a, .nav-bar-mobile-view-ul li a {
    text-decoration: none;
    color: #f6eeeb;
}

#hu, .box {
    font-size: 1.7rem;
    font-weight: 600;
    color: #24292f;
    text-align: center;
}

#hu a {
    text-decoration: none;
    color: #24292f;
}

.showMobileMenu {
    display: flex;
}

#nav-bar-mobile-view {
    background-color: #242323;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    align-items: center;
    transform: translateX(-100%);
    transform: translateY(-100%);
    transition: transform 0.1s ease-in-out;
}

#nav-bar-mobile-view.showMobileMenu, #nav-bar-mobile-ellipses.showMobileMenu {
    transform: translateX(0);
    transform: translateY(0);
}

.nav-bar-mobile-view-ul {
    list-style-type: circle;
    margin-left: 1vh;
    font-size: 1.5em;
    font-weight: 800;
}


.nav-bar-mobile-view-ul li {
    margin-bottom: 45px;
}

.nav-bar-mobile-view-ul li::marker {
    color: #fff;
    font-size: 1em;
}

#nav-bar-mobile-ellipses {
    position: fixed;
    top: 1.6rem;
    left: 30%;
    transform: translateX(-50%);
    z-index: 2000;
    gap: 1rem;
    transform: translateX(-200%);
    transform: translateY(-200%);
    transition: transform 0.1s ease-in-out;
}

.logo {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 2000;
    cursor: pointer;
}

.burger-menu {
    position: fixed;
    top: 1.6rem;
    right: 0.2rem;
    z-index: 2000;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: 3.5rem;
    height: auto;
    color: #f6eeeb;
}

.content {
    background: rgb(18, 19, 19);
    border: 0.1rem solid rgb(52, 48, 48);
    width: fit-content;
    height: fit-content;
    padding: 1rem;
}

.content ul li {
    margin-bottom: 10px;
}